@import url("../etc/palette.css");
.mainContainer {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: var(--color-black);

    background: repeating-linear-gradient(45deg, #92c9b1, #92c9b1 20px, #b3e0d2 20px, #b3e0d2 40px);
    background-size: 100% 100%;


    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}
.contentContainer {
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    background-color: var(--color-white);
    padding: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1a1a1a;
}
.ul {
    list-style-type: square;
    margin-left: 20px;
}
.a {
    margin-left: 30%;
    color: var(--color-text);
    text-decoration: underline;
}
.a:hover {
    text-decoration: none;
}
.highlight {
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 5px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 24px;

    margin-top: 50px;

    color: var(--color-white);
    background: var(--color-button);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s ease;
    width: 100%;
}

.btn:hover {
    background: var(--color-button-hoover);
}